In [36]:
import pandas as pd
import numpy as np
import math
import os

In [31]:
nl_1k = pd.read_csv("/Users/connorlockhart/Documents/GitHub/fall-2025-predicting-movie-success/modified_data/connor_modified_data/z_scores/zscore_nolate_1k.csv")
nl_all = pd.read_csv("/Users/connorlockhart/Documents/GitHub/fall-2025-predicting-movie-success/modified_data/connor_modified_data/z_scores/zscore_nolate_all.csv")
yl_1k = pd.read_csv("/Users/connorlockhart/Documents/GitHub/fall-2025-predicting-movie-success/modified_data/connor_modified_data/z_scores/zscore_yeslate_1k.csv")
yl_all = pd.read_csv("/Users/connorlockhart/Documents/GitHub/fall-2025-predicting-movie-success/modified_data/connor_modified_data/z_scores/zscore_yeslate_all.csv")

In [45]:
df = pd.DataFrame()
df['username'] = nl_1k['username']
reviews = [nl_1k,nl_all,yl_1k,yl_all]

#get count for non zero rows 
cols = nl_1k.iloc[:,1:].columns
df['review_count'] = nl_all[cols].gt(0.1).sum(axis=1)
df['late_review_count'] = yl_all[cols].gt(0.1).sum(axis=1)
#Drop Reviewers which have not reviewed enough movies, threshold is 10% 
rows_to_drop = df[df['review_count']<(len(cols)/10)].index
df.drop(index= rows_to_drop, axis=0, inplace= True)

#Average the columns
#This didn't work
#testdf = pd.DataFrame()
#for item in reviews:
#    testdf = item
#    df["mean"+str(item)] = testdf.iloc[:,1:].mean(axis)=1

df['mean_nl_1k'] = nl_1k.iloc[:,1:].mean(axis=1)
df['mean_nl_all'] = nl_all.iloc[:,1:].mean(axis=1)
df['mean_yl_1k'] = yl_1k.iloc[:,1:].mean(axis=1)
df['mean_yl_all'] = yl_all.iloc[:,1:].mean(axis=1)

#Rank the columns 
rank_df = pd.DataFrame()
for col in df.columns[3:8]:
    rank_df[col] = df[col].rank(ascending = False)
rank_df = rank_df.add_suffix('_rank')
#merge the ranks with the scores
frames = [df, rank_df]
merged_df = pd.concat(frames,axis=1)

#back testing algorithm
#Rerun the above for movies up to a certain amount
movies = ['anora', 'conclave', 'the-brutalist', 'emilia-perez', 'nickel-boys', 'wicked-2024', 'maria-2024', 'oppenheimer-2023', 'poor-things-2023', 'the-holdovers', 'american-fiction', 'everything-everywhere-all-at-once', 'all-quiet-on-the-western-front-2022', 'the-fabelmans', 'the-banshees-of-inisherin', 'women-talking', 'top-gun-maverick', 'elvis-2022', 'coda-2021', 'the-power-of-the-dog', 'west-side-story-2021', 'dont-look-up-2021', 'king-richard', 'tick-tick-boom-2021', 'dune-2021', 'mank', 'nomadland', 'the-trial-of-the-chicago-7', 'borat-subsequent-moviefilm', 'promising-young-woman', 'palm-springs-2020', 'parasite-2019', '1917', 'once-upon-a-time-in-hollywood', 'jojo-rabbit', 'green-book', 'roma-2018', 'black-panther', 'bohemian-rhapsody', 'eighth-grade', 'can-you-ever-forgive-me', 'the-favourite', 'cold-war-2018', 'the-shape-of-water', 'three-billboards-outside-ebbing-missouri', 'lady-bird', 'get-out-2017', 'call-me-by-your-name', 'dunkirk-2017', 'i-tonya', 'blade-runner-2049', 'moonlight-2016', 'la-la-land', 'hidden-figures', 'arrival-2016', 'lion', 'spotlight', 'the-big-short', 'the-revenant-2015', 'the-martian', 'mad-max-fury-road', 'birdman-or-the-unexpected-virtue-of-ignorance', 'boyhood', 'the-grand-budapest-hotel', 'the-imitation-game']
#reverse the list
movies = movies[::-1]
print(len(movies))

#Start with the first 5 years and look up to the first 9 years
numbers = list(range(5,10))

#Truncate the list of movies and perform computations
for i in numbers: 
    truncated_movies = movies[:math.floor(len(movies)*(i/10))]
    print(f"first {i} years: {truncated_movies}")

    df[f"mean_nl_1k_uptoyear{i}"] = nl_1k[truncated_movies].mean(axis=1)
    df[f"mean_nl_all_uptoyear{i}"] = nl_all[truncated_movies].mean(axis=1)
    df[f"mean_yl_1k_uptoyear{i}"] = yl_1k[truncated_movies].mean(axis=1)
    df[f"mean_yl_all_uptoyear{i}"] = yl_all[truncated_movies].mean(axis=1)
    #print(df.head(5))

#Rank the columns 
rank_df = pd.DataFrame()
for col in df.columns[3:]:
    rank_df[col] = df[col].rank(ascending = False)
rank_df = rank_df.add_suffix('_rank')
print(rank_df)
#Merge the ranks with the scores
frames = [df, rank_df]
merged_df = pd.concat(frames,axis=1)




merged_df.to_csv("/Users/connorlockhart/Documents/GitHub/fall-2025-predicting-movie-success/modified_data/connor_modified_data/z_scores/zscore_collection.csv", index = False)

65
first 5 years: ['the-imitation-game', 'the-grand-budapest-hotel', 'boyhood', 'birdman-or-the-unexpected-virtue-of-ignorance', 'mad-max-fury-road', 'the-martian', 'the-revenant-2015', 'the-big-short', 'spotlight', 'lion', 'arrival-2016', 'hidden-figures', 'la-la-land', 'moonlight-2016', 'blade-runner-2049', 'i-tonya', 'dunkirk-2017', 'call-me-by-your-name', 'get-out-2017', 'lady-bird', 'three-billboards-outside-ebbing-missouri', 'the-shape-of-water', 'cold-war-2018', 'the-favourite', 'can-you-ever-forgive-me', 'eighth-grade', 'bohemian-rhapsody', 'black-panther', 'roma-2018', 'green-book', 'jojo-rabbit', 'once-upon-a-time-in-hollywood']
first 6 years: ['the-imitation-game', 'the-grand-budapest-hotel', 'boyhood', 'birdman-or-the-unexpected-virtue-of-ignorance', 'mad-max-fury-road', 'the-martian', 'the-revenant-2015', 'the-big-short', 'spotlight', 'lion', 'arrival-2016', 'hidden-figures', 'la-la-land', 'moonlight-2016', 'blade-runner-2049', 'i-tonya', 'dunkirk-2017', 'call-me-by-your-name', 'get-out-2017', 'lady-bird', 'three-billboards-outside-ebbing-missouri', 'the-shape-of-water', 'cold-war-2018', 'the-favourite', 'can-you-ever-forgive-me', 'eighth-grade', 'bohemian-rhapsody', 'black-panther', 'roma-2018', 'green-book', 'jojo-rabbit', 'once-upon-a-time-in-hollywood', '1917', 'parasite-2019', 'palm-springs-2020', 'promising-young-woman', 'borat-subsequent-moviefilm', 'the-trial-of-the-chicago-7', 'nomadland']
first 7 years: ['the-imitation-game', 'the-grand-budapest-hotel', 'boyhood', 'birdman-or-the-unexpected-virtue-of-ignorance', 'mad-max-fury-road', 'the-martian', 'the-revenant-2015', 'the-big-short', 'spotlight', 'lion', 'arrival-2016', 'hidden-figures', 'la-la-land', 'moonlight-2016', 'blade-runner-2049', 'i-tonya', 'dunkirk-2017', 'call-me-by-your-name', 'get-out-2017', 'lady-bird', 'three-billboards-outside-ebbing-missouri', 'the-shape-of-water', 'cold-war-2018', 'the-favourite', 'can-you-ever-forgive-me', 'eighth-grade', 'bohemian-rhapsody', 'black-panther', 'roma-2018', 'green-book', 'jojo-rabbit', 'once-upon-a-time-in-hollywood', '1917', 'parasite-2019', 'palm-springs-2020', 'promising-young-woman', 'borat-subsequent-moviefilm', 'the-trial-of-the-chicago-7', 'nomadland', 'mank', 'dune-2021', 'tick-tick-boom-2021', 'king-richard', 'dont-look-up-2021', 'west-side-story-2021']
first 8 years: ['the-imitation-game', 'the-grand-budapest-hotel', 'boyhood', 'birdman-or-the-unexpected-virtue-of-ignorance', 'mad-max-fury-road', 'the-martian', 'the-revenant-2015', 'the-big-short', 'spotlight', 'lion', 'arrival-2016', 'hidden-figures', 'la-la-land', 'moonlight-2016', 'blade-runner-2049', 'i-tonya', 'dunkirk-2017', 'call-me-by-your-name', 'get-out-2017', 'lady-bird', 'three-billboards-outside-ebbing-missouri', 'the-shape-of-water', 'cold-war-2018', 'the-favourite', 'can-you-ever-forgive-me', 'eighth-grade', 'bohemian-rhapsody', 'black-panther', 'roma-2018', 'green-book', 'jojo-rabbit', 'once-upon-a-time-in-hollywood', '1917', 'parasite-2019', 'palm-springs-2020', 'promising-young-woman', 'borat-subsequent-moviefilm', 'the-trial-of-the-chicago-7', 'nomadland', 'mank', 'dune-2021', 'tick-tick-boom-2021', 'king-richard', 'dont-look-up-2021', 'west-side-story-2021', 'the-power-of-the-dog', 'coda-2021', 'elvis-2022', 'top-gun-maverick', 'women-talking', 'the-banshees-of-inisherin', 'the-fabelmans']
first 9 years: ['the-imitation-game', 'the-grand-budapest-hotel', 'boyhood', 'birdman-or-the-unexpected-virtue-of-ignorance', 'mad-max-fury-road', 'the-martian', 'the-revenant-2015', 'the-big-short', 'spotlight', 'lion', 'arrival-2016', 'hidden-figures', 'la-la-land', 'moonlight-2016', 'blade-runner-2049', 'i-tonya', 'dunkirk-2017', 'call-me-by-your-name', 'get-out-2017', 'lady-bird', 'three-billboards-outside-ebbing-missouri', 'the-shape-of-water', 'cold-war-2018', 'the-favourite', 'can-you-ever-forgive-me', 'eighth-grade', 'bohemian-rhapsody', 'black-panther', 'roma-2018', 'green-book', 'jojo-rabbit', 'once-upon-a-time-in-hollywood', '1917', 'parasite-2019', 'palm-springs-2020', 'promising-young-woman', 'borat-subsequent-moviefilm', 'the-trial-of-the-chicago-7', 'nomadland', 'mank', 'dune-2021', 'tick-tick-boom-2021', 'king-richard', 'dont-look-up-2021', 'west-side-story-2021', 'the-power-of-the-dog', 'coda-2021', 'elvis-2022', 'top-gun-maverick', 'women-talking', 'the-banshees-of-inisherin', 'the-fabelmans', 'all-quiet-on-the-western-front-2022', 'everything-everywhere-all-at-once', 'american-fiction', 'the-holdovers', 'poor-things-2023', 'oppenheimer-2023']
     mean_nl_1k_rank  mean_nl_all_rank  mean_yl_1k_rank  mean_yl_all_rank  \
0              350.0             339.0            352.0             336.0
1              384.0             372.0            387.0             389.0
2              395.0             398.0            399.0             404.0
3              441.0             440.0            447.0             446.0
4              432.0             434.0            435.0             436.0
..               ...               ...              ...               ...
648             73.0              68.0             26.0              29.0
649            454.0             454.0            455.0             453.0
650            127.0             120.0            111.0             114.0
653            114.0             119.0             68.0              68.0
655            134.0             144.0            110.0             119.0

     mean_nl_1k_uptoyear5_rank  mean_nl_all_uptoyear5_rank  \
0                        143.0                       136.0
1                        307.0                       297.0
2                        318.0                       329.0
3                        358.0                       358.0
4                        335.0                       339.0
..                         ...                         ...
648                       63.0                        64.0
649                      364.0                       360.0
650                        NaN                         NaN
653                      230.0                       211.0
655                       64.0                        69.0

     mean_yl_1k_uptoyear5_rank  mean_yl_all_uptoyear5_rank  \
0                        274.0                       230.0
1                        391.0                       389.0
2                        412.0                       415.0
3                        444.0                       446.0
4                        424.0                       427.0
..                         ...                         ...
648                       24.0                        24.0
649                      449.0                       444.0
650                       79.0                        87.0
653                      107.0                       102.0
655                       49.0                        50.0

     mean_nl_1k_uptoyear6_rank  mean_nl_all_uptoyear6_rank  ...  \
0                        261.0                       255.0  ...
1                        361.0                       352.0  ...
2                        368.0                       374.0  ...
3                        408.0                       410.0  ...
4                        395.0                       396.0  ...
..                         ...                         ...  ...
648                       53.0                        53.0  ...
649                      418.0                       416.0  ...
650                        NaN                         NaN  ...
653                      217.0                       220.0  ...
655                       61.0                        64.0  ...

     mean_yl_1k_uptoyear7_rank  mean_yl_all_uptoyear7_rank  \
0                        334.0                       303.0
1                        407.0                       407.0
2                        409.0                       412.0
3                        445.0                       445.0
4                        427.0                       427.0
..                         ...                         ...
648                       18.0                        17.0
649                      452.0                       449.0
650                      350.0                       345.0
653                      181.0                       176.0
655                       39.0                        42.0

     mean_nl_1k_uptoyear8_rank  mean_nl_all_uptoyear8_rank  \
0                        331.0                       327.0
1                        394.0                       385.0
2                        387.0                       393.0
3                        435.0                       437.0
4                        425.0                       425.0
..                         ...                         ...
648                       73.0                        74.0
649                      450.0                       449.0
650                      280.0                       277.0
653                      170.0                       172.0
655                       99.0                       106.0

     mean_yl_1k_uptoyear8_rank  mean_yl_all_uptoyear8_rank  \
0                        347.0                       328.0
1                        405.0                       408.0
2                        401.0                       403.0
3                        447.0                       447.0
4                        430.0                       430.0
..                         ...                         ...
648                       26.0                        27.0
649                      454.0                       451.0
650                      215.0                       220.0
653                      102.0                       105.0
655                       85.0                        89.0

     mean_nl_1k_uptoyear9_rank  mean_nl_all_uptoyear9_rank  \
0                        355.0                       342.0
1                        393.0                       386.0
2                        399.0                       399.0
3                        436.0                       437.0
4                        432.0                       433.0
..                         ...                         ...
648                      107.0                       106.0
649                      456.0                       456.0
650                      163.0                       159.0
653                      132.0                       127.0
655                      140.0                       148.0

     mean_yl_1k_uptoyear9_rank  mean_yl_all_uptoyear9_rank
0                        357.0                       337.0
1                        399.0                       399.0
2                        403.0                       404.0
3                        445.0                       445.0
4                        434.0                       432.0
..                         ...                         ...
648                       35.0                        38.0
649                      457.0                       452.0
650                      133.0                       134.0
653                       77.0                        75.0
655                      112.0                       117.0

[459 rows x 24 columns]